name = "mysqlservername"
databases = {
  mysqlservername1 = { collation = "utf8_unicode_ci" }
}

administrator_login          = "mysqladmin"
administrator_login_password = "mysql1313"

# active_directory_administrator_object_id = "XX-XXXX-XXXX-XXX-XXX"
# active_directory_administrator_tenant_id = "XX-XXXX-XXXX-XXX-XXX"

sku_name       = "GP_Gen5_4"
mysql_version  = "8.0"
storagesize_mb = 256000

location       = "canadacentral"
resource_group = "XX-XXXX-XXXX-XXX-XXX"
subnet_ids     = []

ip_rules       = []
firewall_rules = []

public_network_access_enabled    = true
ssl_enforcement_enabled          = true
ssl_minimal_tls_version_enforced = "TLS1_2"
